@charset "UTF-8";

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 2em;
    color: blueviolet;
    background-color: rgb(0, 255, 213);
    text-align: center;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    float: right;
    font: italic 1em Verdana;
}